@font-face {
    font-family: 'kanz';
    src: url(./al-kanz.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'marjaan';
    src: url(./kanz-marjaan.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  